#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-width: 1vm;
  min-height: 1vh;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.spin-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}
.align-end {
  display: flex;
  justify-content: end;
  align-items: center;
}
